<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio</h2>
            <p>Proyecto integrador final para Argentina Programa. Pueden visitarlo haciendo click <a href="">aquí</a></p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/portfolio-img.JPG" alt="Imagen del portfolio" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Encriptador</h2>
            <p>Primer proyecto para el curso de Oracle en colaboración con Alura Latam. Es un encriptador de texto que cambia las vocales por otras palabras para conseguir codificar el texto que se le pase por el textarea. Pueden visitarlo haciendo click <a href="https://agustinabecgut.github.io/encriptador-one/">aquí</a></p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/encriptador-img.JPG" alt="Imagen del proyecto Encriptador de Oracle Next Education" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
