.row{
    padding: 50px; 
    padding-top: 5%;    
    border-style: dashed;
    border-color: #3f8044;
}

div{    
    background-color: #7FC984;      
}

h1, h2{
    display: inline;
    color: #bc4a48;
}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    border-width: thick;
    border-color: #bc4a48;
    border-style: solid;
    border-radius: 15px;
    margin: 2%;
}