.row{
    padding: 50px; 
    border-top-style: dashed;
    border-top-color: #F7B054;    
}

div{    
    background-color: #FCEBA6;  
}

h1{
    padding: 20px;
}

h1, h2, h3{
    display: inline;
    color: #43254A;
}