.row{
    margin-top: 20px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: #7FC984;
    padding: 5%;
}

h1{
    color: #43254A;
    padding-bottom: 5%;
    padding-top: 3%;
}