<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoPerfil"><img>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <h3 id="nombre">Agustina Becerra</h3>
       <p>Desarrolladora Web Full Stack Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <span>
           <h1>Acerca de mí</h1>
           <p>Soy una desarrolladora web en proceso, con un especial interés por el Front-End. Tengo 24 años, soy argentina y en mis tiempos libres disfruto de bailar, cantar, hacer ejercicio y tocar la guitarra :)</p>
       </span>
    </div>
</div>
